
<body>
    <div align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1><center>Ingresar</center></h1>
    <form action="{{path('eventodeportista_index')}}" method="POST">
      
        <br>
        <br>
        <label>USUARIO</label>
       
        <input type="text" name="user" placeholder="Ingrese Usuario">
        
        <label>PASSWORD</label>
        
        <input type="password" name="password" placeholder="Ingrese Password">
        
        <input type="submit" value="Aceptar">
    </form>
    </div>    
 </body>       

