{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deporte - Edicion</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-round btn-info"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('deporte_index') }}"  class="btn btn-primary">Regresar</a>
        </li>
    </ul>
{% endblock %}
